<h2>Author's Profile</h2>
<br>
<h4>First Name:</h4>
<%=@user.first_name%>
<br>
<h4>Last Name:</h4>
<%=@user.last_name%>
<br>
<h4>Self Intro:</h4>
<%=@user.selfintro%>
<br>
<br>
<h4>
<%= image_tag @user.gravatar_url %>
</h4>
<br>
<br>
<table class="table">
  <tr>
    <th>Topics</th>
  </tr>
  <%@user.forums.each do |u|%>
  <tr>
    <td><%=u.topic%></td>
  </tr>
  <%end%>
</table>
<br>
<br>
<table class="table">
  <tr>
    <th>Comments</th>
  </tr>
  <% @posts.each do |p|%>
  <tr>
    <td><%=p.content%></td>
  </tr>
  <%end%>
</table>
<br>
<br>
<table class="table">
  <tr>
    <th>Favorite Forums</th>
  </tr>
  <%@user.favorites.each do |k|%>
  <tr>
    <td><%= link_to k.topic, forum_path(k) %></td>
  </tr>
  <%end%>
</table>
<br>
<br>
<h4>The Draft Copies</h4>
<br>
<%if current_user%>
  <%@draftforums = @user.forums.where(:status=>0)%>
  <%@draftforums.each do |d|%>
    <%=form_for d, :url=>forum_path(d), :method=>:patch, :class=>"form" do |f|%>
    <%=f.label :topic, "Topic"%>
    <%=f.text_field :topic, :class=>"form-control"%>
    <%=f.label :body, "Content"%>
    <%=f.text_area :body, :class=>"form-control"%>
    <%= f.select :status, [["Draft",0],["Publish",1]], :class=>"form-control"%>
    <%=f.submit "Publish"%>
  <%end%>
  <br>
  <%end%>
<%end%>

