<h1>Welcome to the Raising Stars Blog</h1>
<br>
<br>
<%=link_to "About", latest_forums_path, :class=>"btn btn-primary"%>
<%=link_to "Sort By Time", forums_path(:order=>"created_at"), :class=>"btn btn-default"%>
<%=link_to "Sort By Replies", forums_path(:order=>"posts_count"), :class=>"btn btn-default" %>

<br>
<br>
<table class="table">
  <tr>
    <th>Topic</th>
    <th>Author</th>
    <th>Created Time</th>
    <th>Updated Time</th>
    <th># of Views</th>
    <th># of Posts</th>
    <th>Category</th>
    <th>Participants</th>
    <th>Actions</th>
  </tr>

  <%@forums.each do |e|%>
  <tr>
    <td>
      <%=e.topic%>
    </td>
    <td>
      <%#=@author=@authors.find(params[e.user_id])%>
      <%#=User.find(e.user_id).email%>
      <%=link_to "#{e.user.first_name}", profile_path(e.user) %>
      <%#=e.inspect%>
    </td>
    <td>
      <%=e.created_at.to_s(:short)%>
    </td>
    <td>
      <%=e.updated_at.to_s(:short)%>
    </td>
    <td>
      <%=e.view_count%>
    </td>
    <td>
      <%=e.posts_count%>
    </td>
    <td>
      <%=e.category_list%>

    </td>
    <td>
      <%=e.name_list%>

    </td>
    <td>
      <%=link_to "Show", forum_path(e), :class=>"btn btn-primary"%>
      <% if current_user and current_user == e.user %>
        <%=link_to "Edit", edit_forum_path(e), :class=>"btn btn-primary"%>
        <%=link_to "Destroy", forum_path(e), :method=>:delete, :class=>"btn btn-primary"%>
      <%end%>
    </td>
  </tr>
  <%end%>
</table>

<%= paginate @forums %>

<p>Create a new blog</p>
<br>
<%=form_for @forum, :url=>forums_path, :class=>"form" do |f|%>
<%=f.label :topic, "Topic"%>
<%=f.text_field :topic, :class=>"form-control"%>
<%=f.label :body, "Content"%>
<%=f.text_area :body, :class=>"form-control"%>
<div class="form-group">
<%#= f.label :category_id, "Category" %>
<%#= f.select :category_id, [["Basketball", 1], ["Baseball", 2], ["Tennis", 3]], :class=>"form-control" %>
<%= f.collection_check_boxes(:category_ids, Category.all, :position, :name)%>
<br>
<%= f.select :status, [["Draft",0],["Publish",1]], :class=>"form-control"%>
<%#= f.collection_select :category_id, Category.all, :id, :name, :class => "form-control", :prompt => "Please select"%>

<%#Category.all.each do |c|%>
  <%#= f.radio_button :category_id, c.id%> <%#=c.name%>
<%#end%>
</div>
<%=f.submit "Create"%>
<%end%>


