<h2>Author's Profile</h2>
<br>
<br>

<%=@user.first_name%>
<br>
<%=@user.last_name%>
<br>
<table class="table">
  <tr>
    <th>Topics</th>
  </tr>
  <%@user.forums.each do |u|%>
  <tr>
    <td><%=u.topic%></td>
  </tr>
  <%end%>
</table>
<br>
<br>
<table class="table">
  <tr>
    <th>Comments</th>
  </tr>
  <%@post.each do |p|%>
  <tr>
    <td><%=p.content%></td>
  </tr>
  <%end%>
</table>
<br>
<br>
<table class="table">
  <tr>
    <th>Favorite Forums</th>
  </tr>
  <%@user.favorites.each do |k|%>
  <tr>
    <td><%=k.topic%></td>
  </tr>
  <%end%>
</table>

