<h2>Author's Profile</h2>
<br>
<h4>First Name:</h4>
<%=@user.first_name%>
<br>
<h4>Last Name:</h4>
<%=@user.last_name%>
<br>
<h4>Self Intro:</h4>
<%=@user.selfintro%>
<br>
<br>
<table class="table">
  <tr>
    <th>Topics</th>
  </tr>
  <%@user.forums.each do |u|%>
  <tr>
    <td><%=u.topic%></td>
  </tr>
  <%end%>
</table>
<br>
<br>
<table class="table">
  <tr>
    <th>Comments</th>
  </tr>
  <%@post.each do |p|%>
  <tr>
    <td><%=p.content%></td>
  </tr>
  <%end%>
</table>
<br>
<br>
<table class="table">
  <tr>
    <th>Favorite Forums</th>
  </tr>
  <%@user.favorites.each do |k|%>
  <tr>
    <td><%=k.topic%></td>
  </tr>
  <%end%>
</table>

