<h1>Welcome to the Raising Stars Blog</h1>
<br>
<span>Topic:</span>
<br>
<h2><%=@forum.topic%></h2>
<br>
<span>Content:</span>
<br>
<h3><%=@forum.body%></h3>
<br>
<% if @forum.photo.exists?%>
  <%= image_tag(@forum.photo.url(:medium))%>
<%end%>
<br>
<br>
<%if params[:p_id] %>
  <%=link_to "Back to Main", forums_path, :class=>"btn btn-primary"%>
  <%=link_to "Quit Edit", forum_path(@forum), :class=>"btn btn-primary"%>
<%else%>
  <%=link_to "Back to Main", forums_path, :class=>"btn btn-primary"%>
<%end%>


<% if @fav %>
  <%= link_to "Remove Fav", remove_favorite_forum_path(@forum), :method => :post, :class=>"btn btn-primary"%>
<% else %>
  <%= link_to "Fav", add_favorite_forum_path(@forum), :method => :post, :class=>"btn btn-primary"%>
<% end %>

<br>
<br>
<table class="table">
<tr>
  <th>
    <p>Comments</p>
  </th>
  <th>
    <p>Actions</p>
  </th>
</tr>
<%@posts.each do |g|%>
<tr>
  <td>
      <h4><%=g.content%></h4>
  </td>
  <td>
    <%if current_user == g.user %>
      <%=link_to "Update", forum_path(@forum, :p_id=>g.id), :class=>"btn btn-primary"%>
      <%=link_to "Delete", forum_post_path(@forum, g), :method=>:delete, :class=>"btn btn-danger"%>
    <%end%>
  </td>
</tr>
<%end%>
</table>


<br>

<br>
<% if params[:p_id] %>
  <h2>Update Comments</h2>
  <%=form_for @post, :url => forum_post_path(@forum, @post), :class=>"form" do |p|%>
  <%=p.text_area :content, :class=>"form-control"%>
  <%=p.submit "Update"%>
  <%end%>
<%else%>
  <h2>New Comment</h2>
  <%=form_for @post, :url => forum_posts_path(@forum), :class=>"form" do |p|%>
  <%=p.text_area :content, :class=>"form-control"%>
  <%=p.submit "Create"%>
  <%end%>
<%end%>
