<h1>Welcome to the Raising Stars Blog</h1>
<br>
<span>Topic:</span>
<br>
<h2><%=@forum.topic%></h2>
<br>
<span>Content:</span>
<br>
<h3><%=@forum.body%></h3>
<br>
<br>
<%if params[:update].to_i==1%>
  <%=link_to "Back to Main", forums_path, :class=>"btn btn-primary"%>
  <%=link_to "Quit Edit", forum_path(@forum), :class=>"btn btn-primary"%>
<%else%>
  <%=link_to "Back to Main", forums_path, :class=>"btn btn-primary"%>
<%end%>
<%=link_to "Fav", forum_path(@forum, :fav=>1), :class=>"btn btn-primary"%>

<br>
<br>
<table class="table">
<tr>
  <th>
    <p>Comments</p>
  </th>
  <th>
    <p>Actions</p>
  </th>
</tr>
<%@posts.each do |g|%>
<tr>
  <td>
      <h4><%=g.content%></h4>
  </td>
  <td>
    <%if current_user.id==g.user_id%>
      <%=link_to "Update", edit_forum_post_path(@forum, :p_id=>g.id, :update=>1), :class=>"btn btn-primary"%>
      <%=link_to "Delete", forum_post_path(@forum, :p_id=>g.id), :method=>:delete, :class=>"btn btn-danger"%>
    <%end%>

  </td>
</tr>
<%end%>
</table>



<br>

<br>
<%if params[:update].to_i==1%>
  <h2>Update Comments</h2>
  <%=form_for @post, :url=>forum_post_path(@forum, :p_id=>params[:p_id]), :class=>"form" do |p|%>
  <%=p.text_area :content, :class=>"form-control"%>
  <%=p.submit "Update"%>
  <%end%>
<%else%>
  <h2>New Comment</h2>
  <%=form_for @post, :url=>forum_post_path(@forum), :class=>"form" do |p|%>
  <%=p.text_area :content, :class=>"form-control"%>
  <%=p.submit "Create"%>
  <%end%>
<%end%>
